@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: Arial, sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}


nav{
font-style: italic;
}

header {
  text-align: left;
  background: #cbcdd8;
  margin-bottom: 20px;
}

main  h1 {
  line-height: 50px;
  color: rgb(143, 5, 5);
  text-transform: capitalize;
  font-style: italic;
}

main  h2 {
  line-height: 50px;
  color: rgb(143, 5, 5);
  text-transform: capitalize;
  font-style: italic;
}

main {
  margin: 0 20px;
}

main > h2 {
  font-weight: 700;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

main article h2 {
  color: #fb743e;
  font-weight: 700;
  text-transform: capitalize;

}



table , td , th {
  border: 1px black solid;




 
form {
  border: 5px  rgb(11, 11, 56) solid;
  margin: 20px;
  border-radius: 5px;
  display: table-cell;

  background-color: darkcyan;

<<<<<<< HEAD

=======
  background-color: darkorchid;
>>>>>>> 46b74e0c9782671bdcc62349b51f0441f6cb53f8

}


 img {
  border-radius: 50%;
 
 
} 
html {
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
<<<<<<< HEAD
  font-family: Arial, Helvetica, sans-serif;
=======
  font-family: Arial, Helvetica, sans-serif;
}

>>>>>>> 46b74e0c9782671bdcc62349b51f0441f6cb53f8
