

* {
  font-family: Arial, sans-serif;
}

img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

header {
  text-align: left;
  background: #cbcdd8;
  margin-bottom: 20px;
}

header h1 {
  line-height: 50px;
  color: #fff;
}

main {
  margin: 0 20px;
}

main > h2 {
  font-weight: 700;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

main article h2 {
  color: #fb743e;
  font-weight: 700;
  text-transform: capitalize;
}